{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid"> 
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#example-navbar-collapse">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'work_flow:index' %}">订单管理系统</a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
	{% if request.session.islogin %}
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'work_flow:index' %}">生产情况</a></li>
            {% if request.session.dept == '总经理' %}
            <li >
            <a href="{% url 'account:edit_2' %}">企业人员管理</a>
            </li>
	    {% endif %}
	{% endif %}
        </ul>
	    <p class="navbar-text navbar-right">
        {% if request.session.islogin %}
        你好 ,<a href="{% url 'account:edit' %}">{{ request.session.nickname }}</a>
        {% endif %}
        </p>
    </div>
    </div>
</nav>
	
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close"></a>
    </li>
    {% endfor %}
</ul>
{% endif %}
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
