{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'work_flow:index' %}">订单管理系统</a>
    </div>
    <div>
	{% if request.session.islogin %}
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'work_flow:index' %}">生产情况</a></li>
            {% if request.session.dept == '总经理' %}
            <li >
            <a href="{% url 'account:edit_2' %}">企业人员管理</a>
            </li>
			{% endif %}
        </ul>
		{% endif %}
		<span>
        {% if request.session.islogin %}
        你好 ,<a href="{% url 'account:edit' %}">{{ request.session.nickname }}</a>
        <a href="{% url 'account:logout' %}">注销</a>
        {% else %}
        <a href="{% url 'account:login' %}">登陆</a>
        {% endif %}
    </span>
    </div>
    </div>
</nav>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close"></a>
    </li>
    {% endfor %}
</ul>
{% endif %}
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
