{% extends "base.html" %}
{% block title %}Edit your account {% endblock %}
{% block content %}
<h4>请填写您的基本信息</h4>
<p>请您务必如实填写您的姓名和所属公司</p>
<div class="alert alert-info">注意：公司名称一旦确认将无法修改！</div>
<form action="{% url 'account:edit' %}" method="POST" enctype="multipart/form-data" role='form'>
    {% if request.session.company == '空' %}
    <div class="form-group">
        <label class="col-sm-2 control-label">姓名：</label>
        <div class="col-sm-10">
            {{ profile_form.realname }}
        </div></div>
    <div class="form-group">
        <label class="col-sm-2 control-label">单位：</label>
        <div class="col-sm-10">
            {{ profile_form.company }}
        </div></div>
    {% else %}
    <div class="form-group">
        <label class="col-sm-2 control-label">姓名：</label>
        <div class="col-sm-10">
            {{ profile_form.realname }}
        </div></div>
    <div style="display: none">{{ profile_form.company}}</div>
    {% endif %}
    {% csrf_token %}
    <br>
    <p><input class="btn btn-default" type="submit" value="保存" ></p>

</form>
{% endblock %}
