{% extends "base.html" %}
{% block content %}
{% if request.session.dept == '总经理' %}
<div class="alert alert-info">提醒：如要批量输入订单信息,请在规格、数量和单位行以英文分号';'分割订单信息</div>
<form action="{% url 'work_flow:add_order' %}" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    <div class="form-group">
        <label class="col-sm-2 control-label">客户：</label>
        <div class="col-sm-10">
            {{ order_form.client }}
        </div></div>

    <div class="form-group">
        <label class="col-sm-2 control-label">下单时间：</label>
        <div class="col-sm-10">
            {{ order_form.order_time }}
        </div></div>

    <div class="form-group">
        <label class="col-sm-2 control-label">交货时间：</label>
        <div class="col-sm-10">
            {{ order_form.sub_time }}

        </div></div>

    <div class="form-group">
        <label class="col-sm-2 control-label">规格：</label>
        <div class="col-sm-10">
            {{ order_form.spec}}
        </div></div>

    <div class="form-group">
        <label class="col-sm-2 control-label">数量：</label>
        <div class="col-sm-10">
            {{ order_form.order_quantity }}
        </div></div>

    <div class="form-group">
        <label class="col-sm-2 control-label">单位：</label>
        <div class="col-sm-10">
            {{ order_form.unit }}
        </div></div>

    <div class="form-group">
        <label class="col-sm-2 control-label">用纸要求：</label>
        <div class="col-sm-10">
            {{ order_form.requirement }}
        </div></div>

    <div class="form-group">
        <label class="col-sm-2 control-label">备注：</label>
        <div class="col-sm-10">
            {{ order_form.remark }}
        </div></div>

    <div class="form-group">
        <label class="col-sm-2 control-label">负责人：</label>
        <div class="col-sm-10">
            <select name="person_incharge">
                {% for j in memb %}
                <option value="{{ j }}">{{ j }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">提交</button>
        </div>
    </div>
</form>
{% else %}
<h1>您没有权限下单，请联系总经理</h1>
{% endif %}
{% endblock %}
