{% extends "base.html" %}
{% block content %}
{% if request.session.dept == '总经理' %}
<form action="{% url 'work_flow:add_order' %}" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">交货信息</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">客户：</label>
                <div class="col-sm-10">
                    {{ order_form.client }}
                </div></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">下单时间：</label>
                <div class="col-sm-10">
                    {{ order_form.order_time }}
                </div></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">交货时间：</label>
                <div class="col-sm-10">
                    {{ order_form.sub_time }}
                </div></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">备注：</label>
                <div class="col-sm-10">
                    {{ order_form.remark }}
                </div></div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">订单信息</h3>
        </div>
        {{ order_form.spec }}
        {{ order_form.quantity }}
        {{ order_form.requirement }}
        <table class="table" id="table" data-toggle="table"  data-toolbar="#toolbar">
            <thead>
            <tr>
                <th data-field="spec">规格</th>
                <th data-field="quantity"></th>
                <th data-field="requirement"></th>
            </tr>
            </thead>
        </table>
    </div>


    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">责任人信息</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">负责人：</label>
                <div class="col-sm-10">
                    <select name="person_incharge">
                        {% for j in memb %}
                        <option value="{{ j }}">{{ j }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="{% url 'work_flow:index' %}"><button type="button" class="btn btn-default">返回订单列表</button></a>
        </div>
    </div>
</form>
<button type="submit" class="btn btn-success" id="sub">提交</button>
{% else %}
<h1>您没有权限下单，请联系总经理</h1>
{% endif %}
{% endblock %}
