{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订单管理系统</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script src="{% static 'admin/js/calendar.js' %}"></script>
    <script src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>

    <script type="text/javascript" src="{% static 'admin/jsi18n' %}"></script>
    <script type="text/javascript" src="{%  static 'admin/js/core.js'%}"></script>

    <script>
        $(document).ready(function () {
            $.ajax({url:'/flow/autocomplete/',
                type:'GET',dataType:'json',success:function (data) {
                    var specs_list = data.specs;
                    $("#autocomp").autocomplete({
                        source:specs_list
                    });
                }});
            $.ajax({url:'/flow/remind/',
                type:'GET',dataType:'json',success:function (data) {
                    var stat = data.status;
                    if (stat >= 5) {
                        alert("注意：还有 "+stat+" 条订单正等待安排，请及时处理以免影响正常生产")
                    }
                }});

        });
        function del() {
            var msg = "您确定要删除吗？\n\n请确认！";
            if (confirm(msg)==true){
                return true;
            }else{
                return false;
            }
        }

    </script>
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'work_flow:index' %}">订单管理系统</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            {% if request.session.islogin %}
            <ul class="nav navbar-nav">
                <li><a href="{% url 'work_flow:index' %}">生产情况</a></li>
                <li><a href="{% url 'account:add_company' %}">新增企业</a></li>
                {% if request.session.dept == '总经理' %}
                <li >
                    <a href="{% url 'account:edit_2' %}">企业人员管理</a>
                </li>
                {% endif %}
                {% if request.session.realname == '李能聪' %}
                <li>
                    <a href="http://www.e-fac.cn/admin/">超级·管理员</a>
                </li>
                {% endif %}

                {% endif %}
            </ul>
            <p class="navbar-text navbar-right">
                {% if request.session.islogin %}
                <a href="{% url 'account:edit' %}">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-user"></span>编辑
                    </button></a>
                {% endif %}
            </p>
        </div>
    </div>
</nav>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close"></a>
    </li>
    {% endfor %}
</ul>
{% endif %}
<div class="container">
{% if request.session.islogin %}
<h4>您好 ,{{ request.session.realname }}</h4>
{% else %}
<h1>请登陆</h1>
{% endif %}
<div class="table-responsive">
<table class='table table-bordered'>
    <tr>
    <th>等待下单</th>
    <th class="active">等待安排</th>
    <th class="info">等待生产</th>
    <th class="danger">正在生产</th>
    <th class="success">生产完成</th>
    <th class="warning">等待发货</th>
    <th>发货完成</th>
        <th>全部</th>
    </tr>
    {% if request.session.islogin %}
    <tr>
        <td><a href="/flow/status/1/">{{count.0}}</a></td>
        <td class="active"><a href="/flow/status/2/">{{count.1}}</a></td>
        <td class="info"><a href="/flow/status/3/">{{count.2}}</a></td>
        <td class="danger"><a href="/flow/status/4/">{{count.3}}</a></td>
        <td class="success"><a href="/flow/status/5/">{{count.4}}</a></td>
        <td class="warning"><a href="/flow/status/6/">{{count.5}}</a></td>
        <td><a href="/flow/status/7/">{{count.6}}</a></td>
        <td><a href="/flow/status/0/">全部</a></td>
    </tr>
    {% else %}
    <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>全部</td>
    </tr>
    {% endif %}
</table>
</div>
    <div>
    <a href="{% url 'work_flow:add_order' %}"><button type="button" class="btn btn-primary btn-lg btn-block">下单</button></a>
    </div>
<div class="table-responsive">
<table class='table'>
        <tr>
            <th>客户</th>
            <!--<th>下单时间</th>-->
            <th>交货时间</th>
            <!--<th>订单号</th>-->
            <th>产品规格</th>
            <th>数量</th>
            <th>状态</th>
            <th>当前负责人</th>
            <th>操作</th>
        </tr>
        <br>
        {% if request.session.islogin%}
        {% for i in results %}
        {% if i.stat_nam == '等待安排' %}
            <tr>
                <td><a href="{% url 'work_flow:detail' i.uuid %}"><button type="button" class="btn btn-primary btn-xs">{{i.client}}</button></a></td>
            <!--<td>{{i.order_time}}</td>-->
            <td>{{i.sub_time}}</td>
            <td><a href="{% url 'work_flow:detail' i.uuid %}">{{i.spec}}</a></td>
            <td>{{i.order_quantity}}</td>
            <td>{{i.stat_nam}}</td>
            <td>{{i.person_incharge}}</td>
            <td>
                <a href="{% url 'work_flow:delete' i.uuid %}"><button type="button" class="btn btn-danger btn-sm" onclick="javascript:return del();">
                    删除
                </button></a>
                   <a href="{% url 'work_flow:rollback' i.uuid %}">
                       <button class="btn btn-warning btn-sm">回退</button></a>
            </td>
            </tr>
        {% elif i.stat_nam == '等待生产' %}
        <tr>
            <td><a href="{% url 'work_flow:detail' i.uuid %}"><button type="button" class="btn btn-info btn-xs">{{i.client}}</button></a></td>
            <!--<td>{{i.order_time}}</td>-->
            <td>{{i.sub_time}}</td>
            <td><a href="{% url 'work_flow:detail' i.uuid %}">{{i.spec}}</a></td>
            <td>{{i.order_quantity}}</td>
            <td>{{i.stat_nam}}</td>
            <td>{{i.person_incharge}}</td>
            <td>
                <a href="{% url 'work_flow:delete' i.uuid %}"><button type="button" class="btn btn-danger btn-sm" onclick="javascript:return del();">
                    删除
                </button></a>
                <a href="{% url 'work_flow:rollback' i.uuid %}">
                    <button class="btn btn-warning btn-sm">回退</button></a>
            </td>
        </tr>
        {% elif i.stat_nam == '正在生产' %}
        <tr>
            <td><a href="{% url 'work_flow:detail' i.uuid %}"><button type="button" class="btn btn-danger btn-xs">{{i.client}}</button></a></td>
            <!--<td>{{i.order_time}}</td>-->
            <td>{{i.sub_time}}</td>
            <td><a href="{% url 'work_flow:detail' i.uuid %}">{{i.spec}}</a></td>
            <td>{{i.order_quantity}}</td>
            <td>{{i.stat_nam}}</td>
            <td>{{i.person_incharge}}</td>
            <td>
                <a href="{% url 'work_flow:delete' i.uuid %}"><button type="button" class="btn btn-danger btn-sm" onclick="javascript:return del();">
                    删除
                </button></a>
                <a href="{% url 'work_flow:rollback' i.uuid %}">
                    <button class="btn btn-warning btn-sm">回退</button></a>
            </td>
        </tr>
        {% elif i.stat_nam == '生产完成' %}
        <tr>
            <td><a href="{% url 'work_flow:detail' i.uuid %}"><button type="button" class="btn btn-success btn-xs">{{i.client}}</button></a></td>
            <!--<td>{{i.order_time}}</td>-->
            <td>{{i.sub_time}}</td>
            <td><a href="{% url 'work_flow:detail' i.uuid %}">{{i.spec}}</a></td>
            <td>{{i.order_quantity}}</td>
            <td>{{i.stat_nam}}</td>
            <td>{{i.person_incharge}}</td>
            <td>
                <a href="{% url 'work_flow:delete' i.uuid %}"><button type="button" class="btn btn-danger btn-sm" onclick="javascript:return del();">
                    删除
                </button></a>
                <a href="{% url 'work_flow:rollback' i.uuid %}">
                    <button class="btn btn-warning btn-sm">回退</button></a>
            </td>
        </tr>
        {% elif i.stat_nam == '等待发货' %}
        <tr>
            <td><a href="{% url 'work_flow:detail' i.uuid %}"><button type="button" class="btn btn-warning btn-xs">{{i.client}}</button></a></td>
            <!--<td>{{i.order_time}}</td>-->
            <td>{{i.sub_time}}</td>
            <td><a href="{% url 'work_flow:detail' i.uuid %}">{{i.spec}}</a></td>
            <td>{{i.order_quantity}}</td>
            <td>{{i.stat_nam}}</td>
            <td>{{i.person_incharge}}</td>
            <td>
                <a href="{% url 'work_flow:delete' i.uuid %}"><button type="button" class="btn btn-danger btn-sm" onclick="javascript:return del();">
                    删除
                </button></a>
                <a href="{% url 'work_flow:rollback' i.uuid %}">
                    <button class="btn btn-warning btn-sm">回退</button></a>
            </td>
        </tr>
        {% elif i.stat_nam == '发货完成' %}
        <tr>
            <td><a href="{% url 'work_flow:detail' i.uuid %}"><button type="button" class="btn btn-primary btn-xs">{{i.client}}</button></a></td>
            <!--<td>{{i.order_time}}</td>-->
            <td>{{i.sub_time}}</td>
            <td><a href="{% url 'work_flow:detail' i.uuid %}">{{i.spec}}</a></td>
            <td>{{i.order_quantity}}</td>
            <td>{{i.stat_nam}}</td>
            <td>{{i.person_incharge}}</td>
            <td>
                <a href="{% url 'work_flow:delete' i.uuid %}"><button type="button" class="btn btn-danger btn-sm" onclick="javascript:return del();">
                    删除
                </button></a>
                <a href="{% url 'work_flow:rollback' i.uuid %}">
                    <button class="btn btn-warning btn-sm">回退</button></a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td><a href="{% url 'work_flow:detail' i.uuid %}"><button type="button" class="btn btn-default btn-xs">{{i.client}}</button></a></td>
            <!--<td>{{i.order_time}}</td>-->
            <td>{{i.sub_time}}</td>
            <td><a href="{% url 'work_flow:detail' i.uuid %}">{{i.spec}}</a></td>
            <td>{{i.order_quantity}}</td>
            <td>{{i.stat_nam}}</td>
            <td>{{i.person_incharge}}</td>
            <td>
                <a href="{% url 'work_flow:delete' i.uuid %}"><button type="button" class="btn btn-danger btn-sm" onclick="javascript:return del();">
                    删除
                </button></a>
                <a href="{% url 'work_flow:rollback' i.uuid %}">
                    <button class="btn btn-warning btn-sm">回退</button></a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endif %}

</table>
</div>

    </div>

</body>
</html>