{% extends "base.html" %}
{% block content %}
{% if request.session.islogin %}
<h4>您好 ,{{ request.session.realname }}</h4>
{% else %}
<h1>请登陆</h1>
{% endif %}
<div class="table-responsive">
<table class='table table-bordered'>
    <tr>
    <th>等待下单</th>
    <th>等待安排</th>
    <th>等待生产</th>
    <th>正在生产</th>
    <th>生产完成</th>
    <th>等待发货</th>
    <th>发货完成</th>
        <th>全部</th>
    </tr>
    {% if request.session.islogin %}
    <tr>
        <td><a href="/flow/status/1/">{{count.0}}</a></td>
        <td><a href="/flow/status/2/">{{count.1}}</a></td>
        <td><a href="/flow/status/3/">{{count.2}}</a></td>
        <td><a href="/flow/status/4/">{{count.3}}</a></td>
        <td><a href="/flow/status/5/">{{count.4}}</a></td>
        <td><a href="/flow/status/6/">{{count.5}}</a></td>
        <td><a href="/flow/status/7/">{{count.6}}</a></td>
        <td><a href="/flow/status/0/">全部</a></td>
    </tr>
    {% else %}
    <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>全部</td>
    </tr>
    {% endif %}
</table>
</div>
    <div>
    <a href="{% url 'work_flow:add_order' %}"><button type="button" class="btn btn-primary btn-lg btn-block">下单</button></a>
    </div>
<div class="table-responsive">
<table class='table'>
        <tr>
            <th>客户</th>
            <!--<th>下单时间</th>-->
            <th>交货时间</th>
            <!--<th>订单号</th>-->
            <th>产品规格</th>
            <th>数量</th>
            <th>单位</th>
            <th>状态</th>
            <th>当前负责人</th>
            <th>操作</th>
        </tr>
        <br>
        {% if request.session.islogin %}
        {% for i in results %}
        <tr>
            <td>{{i.client}}</td>
            <!--<td>{{i.order_time}}</td>-->
            <td>{{i.sub_time}}</td>
            <td><a href="{% url 'work_flow:detail' i.uuid %}">{{i.spec}}</a></td>
            <td>{{i.order_quantity}}</td>
            <td>{{i.unit}}</td>
            <td>{{i.stat_nam}}</td>
            <td>{{i.person_incharge}}</td>
            <td>
                <div class="btn-group-xs">
                    <a href="{% url 'work_flow:delete' i.uuid %}"><button type="button" class="btn btn-default ">删除</button></a>
                    <a href="{% url 'work_flow:rollback' i.uuid %}"><button type="button" class="btn btn-default">回退</button></a>
                </div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}

</table>
</div>
{% endblock %}
